@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --green: rgb(118, 202, 110);
  --purple: rgb(184, 121, 237);
  --primary-color: rgb(118, 202, 110);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.info {
  margin-bottom: 15px;
  margin-right: 15px;
  width: 610px;
  font-size: 42px;
  
  display: flex;
  justify-content: space-between;
}

.timer {
  color: rgba(105, 105, 105, 0.499);
  font-weight: bold;
}

.info-errores {
  color: rgba(191, 2, 2, 0.829);
}

.Row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}


.Cell {
  border: 2px solid rgba(0, 0, 0, 0.262);
  width: 60px;
  height: 60px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  user-select: none;
  margin: 2px;
}

.Row:nth-child(3n) {
  margin-bottom: 20px;
}

.Cell:nth-child(3n) {
  margin-right: 20px;
}

.llena {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  gap: 15px;
  justify-content: center;
  
  width: 500px;
  margin-top: 40px;
}

.Button {
  
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: rgb(185, 199, 202);
  width: 55px;
  height: 70px;
  border-radius: 10%;
  font-size: 28px;
  
  transition: background-color 0.4s;
}

.Button:hover {
  background-color: rgb(158, 170, 173);
  cursor: pointer;
}

.wrong {
  background-color: rgb(207, 61, 61);
  color: white
}

.focused {
  border-radius: 4%;
  border: 3px solid rgb(0, 0, 0);
}

.value-focused {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  filter: brightness(70%);
}

/* media query menor a 650px */

@media screen and (max-width: 650px) {
  
  .App {
    font-size: 24px;
  }
  
  .Cell {
    width: 32px;
    height: 32px;
  }
  
  .Row:nth-child(3n) {
    margin-bottom: 13px;
  }
  
  .Cell:nth-child(3n) {
    margin-right: 13px;
  }
  
  .info {
    margin-right: 10px;
    width: 343px;
    font-size: 20px;
  }
}

/* MODO OSCURO */

.dark-button {
  margin-bottom: 10px;
  border-radius: 50%;
  padding: 5px;

  color: black;
  border: 2px solid black;
  user-select: none;
}

.dark-mode .dark-button {
  color: white;
  border: 2px solid white;
}

.dark-mode {
  background-color: rgb(48, 48, 48);
  --primary-color: var(--purple);
} 

.dark-mode .Cell {
  border: 2px solid rgba(214, 214, 214, 0.262);
}

.dark-mode .focused {
  border: 3px solid rgb(255, 255, 255);
}

.dark-mode .timer {
  color: rgba(225, 225, 225, 0.712);
}

.dark-mode .Button {
  background-color: rgb(101, 101, 101);
  color: white;
}

.dark-mode .Button:hover {
  background-color: rgb(126, 118, 133);
}

/* fin MODO OSCURO */
